.createLodge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.createLodge-container > * {
    width: 100%;
    max-width: 100%;
}

/* First inputs (name, address, city) */
.createLodge-firstInputsContainer {

}

/* Second inputs (checkIn, checkOut, price, rooms, email, phone) */
.createLodge-secondInputsContainer {

}

/* Country */
.createLodge-countryContainer {

}

/* Description */
.createLodge-descriptionContainer {

}

/* Feature table */
.createLodge-featureTableContainer {
    max-width: 800px;
    border: 1px solid var(--whiteFull);
    border-radius: 24px;
    padding: 16px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.createLodge-featureTitle {
    margin-bottom: 20px;
    margin-left: 12px;
}

/* Main Image */
.createLodge-mainImageContainer  {}

.createLodge-mainImageTitle {}

.createLodge-mainImagePreview {}

.createLodge-mainImageButton {}


/* Submit button */
.createLodge-buttonContainer {

}