.lodgeDetails-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.lodgeDetails-firstinputs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.lodgeDetails-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.lodgeDetails-lodgeName {
    font-size: 24px; 
    font-weight: bold; 
    color: var(--AppMainColor); 
    text-align: center; 
    margin: 20px 0; 
    padding: 5px;
    transition: color 0.3s ease;
}

.lodgeDetails-provider {
font-size: 14;
}

.lodgeDetails-providerTitle {
    color: var(--text-color);
}

.lodgeDetails-providerName {
    margin-left: 8px;
    color: var(--AppMainColor);
}

.lodgeDetails-userAvatar {
    margin-bottom: 10px;
    color: var(--text-color);
}

.lodgeDetails-address {
    font-size: 1rem;
    color: var(--text-color);
    display: block; 
    margin-top: 4px;
}

.lodgeDetails-featureList {
    margin-top: 20px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}


.lodgeDetails-secondInputs {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.lodgeDetails-lodgeData,
.lodgeDetails-lodgeAvailability {
    flex: 1;
    margin: 0;
    padding-top: 20px;
    color: var(--text-color);
}

.lodgeDetails-rooms {
    margin-bottom: 10px;
    display: flex;
}

.lodgeDetails-Vdivider {
    width: 1px; 
    background-color: var(--AppMainColor);
    height: auto;
    margin: 0 20px 0 10px;
}

.lodgeDetails-Hdivider {
    height: 1px;
    background-color: var(--AppMainColor);
    width: 100%;
    margin: 20px 0;
}

.lodgeDetails-button {
    margin-top: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;      
}

.lodgeDetails-banButton-container {
    margin-bottom: 15px;
}

.lodgeDetails-bookingSection {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.lodgeDetails-errorMsg {
    color: var(--errorRed);
    margin-top: 10px;
}