* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.changePassword-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    justify-content: center;
  }
  
  .changePassword-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .changePassword-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
  }
  
  .changePassword-form-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .changePassword-form-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .changePassword-flag-dropdown {
    margin-left: 20px;
  }
  
  .changePassword-form {
    border: 2px solid var(--whiteFull); /* Borde blanco */
    border-radius: 15px; /* Esquinas redondeadas */
    padding: 20px; /* Espaciado interno del formulario */
    box-shadow: 0 4px 15px var(--grey-color6); /* Sombra del formulario (opcional) */
  }
  
  .changePassword-form-input {
    margin: 10px 0; /* Espaciado entre los inputs */
    width: 300px; /* Ancho del input */
  }
  
  .changePassword-error-msg {
    color: var(--errorRed);
    margin-top: 10px;
    font-size: 1rem;
  }