/* Estilos globales para asegurar la compatibilidad */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos para el modal */
  .register-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Estilos para el contenido del modal */
  .register-modal-content {
    position: relative; /* Necesario para posicionar la cruz */
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  /* Estilo para el título del modal */
  .modal-content h2 {
    margin-bottom: 20px;
    color: #FFDB58;
    font-size: 20px;
    position: relative; /* Asegura que el título no se superponga con el botón de cierre */
  }

  
  /* Estilos para el botón de cerrar */
  .register-modal-close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    font-size: 20px;
    color: transparent;
    cursor: pointer;
  }
  
  .register-modal-close-button::before, .close-button::after {
    content: ' ';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
  }
  
  .register-modal-close-button::before {
    transform: rotate(45deg);
  }
  
  .register-modal-close-button::after {
    transform: rotate(-45deg);
  }
  
  .register-modal-close-button:hover::before, .close-button:hover::after {
    background-color: red;
  }

  .register-modal-button {
    width: 100%;
    margin-top: 25px;
  }
  
  /* Responsividad */
  @media (max-width: 600px) {
    .register-modal-content {
      width: 95%;
      max-width: 300px;
    }
  
    .register-modal-content button {
      width: 100%;
      padding: 10px;
    }
  }
  