* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .register-wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--inverted-background-color);
    padding: 20px;
  }
  
  .register-container {
    border: 1px solid var(--inverted-background-color);
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--text-color)
  }
  
  .register-form-container {
    width: 40%;
    background-color: var(--main-background);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .register-logo {
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 32px;
    color: var(--AppMainColor);
    display: flex;
    align-items: center;
  }

  .register-logo-img {
    margin-right: 10px;
    height: auto;
    width: 45px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    height: auto;
    flex: 1;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .register-input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 350px;
    border: 1px solid var(--inverted-background-color);
    padding: 15px;
    border-radius: 8px;
  }
  
  .register-title-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
  
    .register-form-subtitle {
      font-weight: bold;
      color: var(--AppMainColor);
      font-size: 16px;
    }
  
    .register-form-title {
      font-weight: bold;
      font-size: 24px;
      color: var(--text-color);
    }
  }
  
  .register-button-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 10px;
    margin: 10px auto;
  }
  
  .register-footer {
    color: var(--text-color);
    font-size: 14px;
    display: flex;
    gap: 3px;
    padding: 15px;
  }

  .register-login-button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: var(--AppMainColor);
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
  }

  .register-flag-container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
  }
  
  /* RIGHT */
  .register-slider {
    width: 65%;
    background-color: var(--inverted-background-color);
  }

  .register-header-container {
    display: flex;
    padding: 0px 10px;
  }
  
  .register-dropdown-container {
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* 
    register-gender-form-group
    register-gender-checkbox-container
    register-gender-checkbox     
  */

  /* Mios */

  .register-gender-checkbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--inverted-background-color);
    font-size: 24px;
  }

  .register-gender-checkbox {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .register-error-msg {
    color: var(--errorRed);
    margin-top: 10px;
    font-size: 1rem;
  }

  @media (width <= 1200px) {
    .register-form-container {
      width: 60%;
    }
    .register-slider {
      width: 40%;
    }
  }

  @media (width <= 620px) {
    .register-form-container {
      width: 100%;
    }
    
    .register-slider {
      display: none;
    }
  }
  
