* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.updProfile-container {
  border: 1px solid var(--blackFull);
  width: 100%;
  height: 100%;
  display: flex;
}

.updProfile-form-container {
  width: 100%;
  height: 100dvh;
  background-color: var(--blackFull);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.updProfile-header-container {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  color: var(--AppMainColor);
  padding: 10px;
  display: inline-block;
}

.updProfile-logo {
  width: 100%;
  display: flex;
  align-items: center;
}

.updProfile-deepdive-link {
  color: var(--AppMainColor);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.updProfile-logo-img {
  margin-right: 10px;
  height: auto;
  width: 45px;
}

.updProfile-dropdown-container {
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updProfile-flag-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}

.updProfile-form {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.updProfile-button-container {
  margin-top: 25px;
}

/* 
    register-gender-checkbox-container
    register-gender-checkbox     
  */



.updProfile-gender-label {
  font-size: 32px;
}

.updProfile-error-msg {
  color: var(--errorRed);
  margin-bottom: 1rem;
  font-size: 1rem;
}


.updProfile-personal-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px;
  width: 60%;
}

.updProfile-personal-data-4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.updProfile-personal-data-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px;
  width: 60%;
  margin-top: 20px;
}

.updProfile-country {
  margin-top: 10px;
}

.updProfile-personal-data-2 {
  position: relative;
  color: var(--whiteFull);
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 192px;
}

.updProfile-avatar-container {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 192px;
  height: 192px;
  z-index: 10;
  object-fit: cover;
  cursor: pointer;
  transform: translate(50%, -50%);
}

.updProfile-avatar-img {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 192px;
  height: 192px;
  z-index: 1;
  object-fit: cover;
  transform: translate(50%, -50%);
  border-radius: 9999px;
}

.updProfile-personal-data-5 {
  color: var(--whiteFull);
}

.updProfile-gender-form-group {
  margin-left: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.updProfile-birthdate-form-group {
  margin-top: 50px;
}

.updProfile-changePwd-link {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.updProfile-changePassword-button {
  background-color: transparent;
  border: 2px solid var(--AppMainColor);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: var(--AppMainColor);
  cursor: pointer;
  margin-left: 5px;
}


@media screen and (max-width: 768px) {
  .updProfile-personal-data {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .updProfile-personal-data-3 {
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 0px;
    gap: 50px;
  }

  .updProfile-gender-checkbox-container {
    flex-direction: row;
    margin-top: 0px;
  }

  .updProfile-changePwd-link {
    justify-content: end;
    margin-top: 40px;
  }
}