* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.updProfile-container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
}

.updProfile-form-container {
  width: 100%;
  height: 100dvh;
  background-color: black;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.updProfile-header-container {
  display: flex;
  padding: 0px 10px;
}

.updProfile-logo {
  width: 100%;
  display: flex;
  align-items: center;
}

.updProfile-deepdive-link {
  color: #FFDB58;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
}

.updProfile-logo-img {
  margin-right: 10px;
  height: auto;
  width: 45px;
}

.updProfile-dropdown-container {
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updProfile-flag-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}

.updProfile-form {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.updProfile-button-container {
  margin-top: 25px;
}

/* 
    register-gender-checkbox-container
    register-gender-checkbox     
  */

.updProfile-gender-form-group {
  margin-left: 10px;
}

.updProfile-gender-label {
  font-size: 32px;
}

.updProfile-gender-checkbox-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
  color: white;
  font-size: 24px;
}

.updProfile-gender-checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
}

.updProfile-error-msg {
  color: #dc2626;
  margin-bottom: 1rem;
  font-size: 1rem;
}


.updProfile-personal-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px;
  width: 60%;
}

.updProfile-personal-data-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px;
  width: 60%;
}

.updProfile-personal-data-2 {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 192px;
}

.updProfile-avatar-container {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 192px;
  height: 192px;
  z-index: 10;
  object-fit: cover;
  cursor: pointer;
  transform: translate(50%, -50%);
}

.updProfile-avatar-img {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 192px;
  height: 192px;
  z-index: 1;
  object-fit: cover;
  transform: translate(50%, -50%);
  border-radius: 9999px;
}

.updProfile-personal-data-5 {
  color: white;
}

.updProfile-birthdate-form-group {
  margin-top: 50px;
}



@media screen and (max-width: 768px) {
  .updProfile-personal-data {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .updProfile-personal-data-3 {
    grid-template-columns: 1fr;
    width: 100%;

  }

  .updProfile-gender-checkbox-container {
    flex-direction: row;
    margin-top: 0px;
  }
}