.footer-container {
    background-color: var(--navbar-background) !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
  }
  
  .footer-title {
    text-align: center;

  }

  .footer-title-text {
    display: block;
    color: var(--navbar-deepdive);
    font-size: 12px;
    text-align: left;
  }

  .footer-link {
    color: var(--navbar-deepdive) !important;
    text-decoration: none !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 16px !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .footer-text {
    color: var(--navbar-deepdive); 
  }

  .footer-icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 15px;
    color: var(--navbar-deepdive)
  }