.navbar-container {
    width: 100%;
    background-color: var(--grey-color1);
    display: flex;
    padding: 2rem;
}

.navbar-title {
    display: flex;
    flex: 1;
    height: 100%;
}

.navbar-button {
    border-radius: 36px;
    border: 2px solid darkslategrey;
    padding: 8px;
}

.navbar-flag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.navbar-dropdown {
    display: flex;
    gap: 10px;
}