* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-color1: #a2adc2;

  --grey-color2: #a2adc2;
  --grey-color3: #a2adc2;


/* Gris, blanco, negro (sin ser negro), azul oscuro*/
}