@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  background-color: var(--main-background);

  --navbar-background: #000000;
  --navbar-deepdive: #FFFFFF;
  
  --text-color: #000000;

  --main-background: #eee;
  --inverted-background-color: #000000;

  --AppMainColor: #006FEE;



  --blackFull: #000000;
  --whiteFull: #FFFFFF;
  --errorRed: #dc2626;
  --successGreen: #10B981;
}

.dark {
  background-color: var(--main-background);


  --navbar-background: #FFFFFF;
  --navbar-deepdive: #000000;

  --text-color: #FFFFFF;

  --main-background: #000000;
  --inverted-background-color: #eee;

  --AppMainColor: #FFDB58;


  --blackFull: #000000;
  --whiteFull: #FFFFFF;
  --errorRed: #dc2626;
  --successGreen: #10B981;
}